!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      #{@movie.title} is now available!
    %p
      You can download it here: #{@download_url}
      %br/
